Checkpoint_1/flows.json
[
    {
        "id": "4356bf41d444fc66",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46752301dbb049d5",
        "type": "serial-port",
        "name": "",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "30502ca3e14e1ccf",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bae7978049467dbd",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8a87186333202ce0",
        "type": "ui_group",
        "name": "Default",
        "tab": "30502ca3e14e1ccf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "121971c2c06e7543",
        "type": "serial out",
        "z": "4356bf41d444fc66",
        "name": "",
        "serial": "46752301dbb049d5",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "67a609a42c05a4dd",
        "type": "ui_button",
        "z": "4356bf41d444fc66",
        "name": "",
        "group": "8a87186333202ce0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "0° Grau",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "121971c2c06e7543"
            ]
        ]
    },
    {
        "id": "5e8c959b3ab6e607",
        "type": "ui_button",
        "z": "4356bf41d444fc66",
        "name": "",
        "group": "8a87186333202ce0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "90° Graus",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 180,
        "wires": [
            [
                "121971c2c06e7543"
            ]
        ]
    },
    {
        "id": "0a343a1565253b59",
        "type": "ui_button",
        "z": "4356bf41d444fc66",
        "name": "",
        "group": "8a87186333202ce0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "180° Graus",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "121971c2c06e7543"
            ]
        ]
    },
    {
        "id": "336d0dc67ab3d729",
        "type": "serial in",
        "z": "4356bf41d444fc66",
        "name": "",
        "serial": "46752301dbb049d5",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "aaedfd7a65a5186b"
            ]
        ]
    },
    {
        "id": "ba2eb0b622a998f8",
        "type": "ui_gauge",
        "z": "4356bf41d444fc66",
        "name": "",
        "group": "8a87186333202ce0",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "aaedfd7a65a5186b",
        "type": "json",
        "z": "4356bf41d444fc66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "1e8fe67bbf8ebaa9",
                "c5b96243f1085924"
            ]
        ]
    },
    {
        "id": "1e8fe67bbf8ebaa9",
        "type": "change",
        "z": "4356bf41d444fc66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperatura",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 440,
        "wires": [
            [
                "ba2eb0b622a998f8"
            ]
        ]
    },
    {
        "id": "c5b96243f1085924",
        "type": "change",
        "z": "4356bf41d444fc66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.umidade",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 340,
        "wires": [
            [
                "65697251973eee8e"
            ]
        ]
    },
    {
        "id": "65697251973eee8e",
        "type": "ui_gauge",
        "z": "4356bf41d444fc66",
        "name": "",
        "group": "8a87186333202ce0",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 340,
        "wires": []
    }
]